.form-container {
  height: calc(100% - 86px);
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  padding-right: 10%;
}
.auth-form {
  display: flex;
  flex-direction: column;
  min-width: 400px;
}
.form-row {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 10px 0px;
}
.auth-form button {
  border-radius: 7px;
  padding: 3px;
  margin-top: 10px;
}
.form-row label {
  /* width: 10rem; */
  margin-bottom: 0px;
}
.form-container p {
  margin-top: 10px;
}
/* .form-row input {
  width: 20rem;
  margin-left: 1rem;
} */
