.app-nav {
  border-bottom: 1px solid #80808080;
}
.btn-user-avatar {
  background: #fff !important;
  border-color: #fff !important;
}
.btn-user-avatar img{
  width: 50px;
}

.avatar-main{
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 10px;
}
.avatar-main p{
  margin-bottom: 0;
}
.avatar-main .avatar-btn{
  border:none;
  outline: none;
  background-color: transparent;
}
.avatar-main img {
width: 100%;
max-width: 50px;
}

.user-model-tags {
  max-width: 800px;
}

.custom-user-tags{
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}


.tooltip {
  position: relative !important;
  display: inline-block;
  opacity: 1 !important;
  z-index: 1 !important;

}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  left: 60px;
    top: 18px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

li.nav-item.active svg {
  stroke: black;
}

.nav-footer .dropdown-item:hover svg.w-6.h-6 {
  stroke: black;
}

a.nav-link:hover {
  background-color: #eaecf4;
}

a.nav-link:hover svg {
  stroke: black;
}